## **1. 변수명 정하기**
1. 영문가숫자, _로 이루어진다.
2. 대문자를 구분한다.
3. 특수문자를 사용하면 안된다. (&,%등)
4. 키워드를 사용하면 안된다. (if, for 등)

In [1]:
a = 1
A = 2
print(a,A)

a,b,c=3,2,1
print(a,b,c)

1 2
3 2 1

In [2]:
# 값 교환
a, b =10, 20
print(a,b)
a,b = b,a
print(a,b)

10 20
20 10

In [3]:
#변수 타입
a = 12345
print(a)
print(type(a))
a=12.12345678914151515
print(type(a))
a='student'
print(type(a))

12345
<class 'int'>
<class 'float'>
<class 'str'>

In [4]:
#출력방식
print("number")
a,b,c=1,2,3
print(a,b,c)
print("number : ",a,b,c)
print(a,b,c, sep=', ') #sep 
print(a,b,c, sep='')
print(a,b,c, sep='\n')
print(a, end=' ')
print(b, end=' ')
print(c)

number
1 2 3
number :  1 2 3
1, 2, 3
123
1
2
3
1 2 3

## **2. 변수입력과 연산자**

In [5]:
a=input("숫자를 입력하세요 : ")
print(a)

숫자를 입력하세요 : 7
7

In [6]:
a, b =input("숫자를 입력하세요 : ").split()
print(type(a))
c = a+b
print(type(c))
print(c)

숫자를 입력하세요 : 2 3
<class 'str'>
<class 'str'>
23

In [7]:
a , b =input("숫자를 입력하세요 : ").split()
a = int(a)
b = int(b)
print(a+b)

숫자를 입력하세요 : 2 3
5

In [8]:
a , b =map(int, input("숫자를 입력하세요 : ").split())
print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a//b) #몫
print(a%b) #나머지
print(a**b) #거듭제곱

숫자를 입력하세요 : 2 3
5
-1
0.6666666666666666
6
0
2
8

In [9]:
a=4.3
b=5
c = a+b
print(type(c))
print(c)

<class 'float'>
9.3

## 3. 조건문(if 분기문, 다중 if문)

In [10]:
x=7
if x==7:
    print("lucky")
    print("ㅋㅋ")

lucky
ㅋㅋ

In [11]:
x=7
if x!=7:
    print("lucky")
    print("ㅋㅋ")

In [12]:
x=5
if x!=7:
    print("lucky")
    print("ㅋㅋ")

lucky
ㅋㅋ

In [13]:
x=15
if x>=10:
    if x%2 ==1:
        print("10이상의 홀수")

10이상의 홀수

In [14]:
x=9
if x>0:
    if x < 10:
        print("10보다 작은 자연수")

10보다 작은 자연수

In [15]:
x=7
if x>0 and x<10:
    print("10보다 작은 자연수")

10보다 작은 자연수

In [16]:
x=7
if 0<x<10:
    print("10보다 작은 자연수")

10보다 작은 자연수

In [17]:
#분기문
x = 10
if x>0:
    print("양수")
else:
    print("음수")

양수

In [18]:
x = -3
if x>0:
    print("양수")
else:
    print("음수")

음수

In [19]:
#다중 if문
x = 93
if x>=90:
    print('A')
elif x>=80:
    print('B')
elif x>=70:
    print('C')
elif x>=60:
    print('D')
else:
    print('F')

A

In [20]:
x =80
if x>=90:
    print('A')
elif x>=80:
    print('B')
elif x>=70:
    print('C')
elif x>=60:
    print('D')
else:
    print('F')

B

In [21]:
x =50
if x>=90:
    print('A')
elif x>=80:
    print('B')
elif x>=70:
    print('C')
elif x>=60:
    print('D')
else:
    print('F')

F

In [23]:
x =90
if x>=90:
    print('A')
if x>=80:
    print('B')
if x>=70:
    print('C')
if x>=60:
    print('D')

A
B
C
D

## **4. 반복문(for,while,break,continue)**

In [24]:
a = range(10)
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
a = range(1,11)
print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
for i in range(10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [27]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [29]:
for i in range(10,0, -2):
    print(i)

10
8
6
4
2

In [30]:
i =1
while i <=10:
    print(i)
    i =i+1

1
2
3
4
5
6
7
8
9
10

In [31]:
i = 10
while i>=1:
    print(i)
    i = i-1

10
9
8
7
6
5
4
3
2
1

In [32]:
i = 1
while True:
    print(i)
    if i==10:
        break
    i+=1

1
2
3
4
5
6
7
8
9
10

In [33]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [34]:
for i in range(1,11):
    print(i)
    if i >15:
        break
else:            #for문이 정상적 출력되면 else 문 출력, 중간에 break 하면 else값이 나오지 않음
    print(11)

1
2
3
4
5
6
7
8
9
10
11

## **5. 반복문을 이용한 문제풀이**
문제)
   1. 1부터 N까지 홀수출력하기
   2. 1부터 N까지 합 구하기
   3. N의 약수 출력

In [36]:
n = int(input())
for i in range(1,n+1):
    if i%2 ==1:
        print(i)

100
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [37]:
n = int(input())
sum = 0
for i in range(1,n+1):
    sum = sum+i
print(sum)

10
55

In [38]:
n = int(input())
for i in range(1,n+1):
    if n%i == 0:
        print(i, end=' ')

20
1 2 4 5 10 20

## **6. 중첩 반복문(2중 for문)**

In [39]:
for i in range(5):
    for j in range(5):
        print(j, end=' ')
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [40]:
for i in range(5):
    print('i:', i, sep='', end=' ')
    for j in range(5):
        print('j:', j, sep='', end=' ')
    print()

i:0 j:0 j:1 j:2 j:3 j:4
i:1 j:0 j:1 j:2 j:3 j:4
i:2 j:0 j:1 j:2 j:3 j:4
i:3 j:0 j:1 j:2 j:3 j:4
i:4 j:0 j:1 j:2 j:3 j:4

In [41]:
for i in range(5):
    for j in range(5):
        print("*", end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [42]:
for i in range(5):
    for j in range(i+1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [43]:
for i in range(5):
    for j in range(5-i):
        print('*', end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

## **7. 문자열과 내장함수**

In [44]:
msg = "It is Time"
print(msg)
print(msg.lower())
print(msg.upper())
tmp = msg.upper()
print('tmp:',tmp)
print('tmp:',tmp.find('T'))
print('tmp:', tmp.count('T'))
print('msg:',msg)
print('msg:',msg[:2])
print('msg:',msg[3:5]) #3~4까지만 뽑아냄
print(len(msg))

It is Time
it is time
IT IS TIME
tmp: IT IS TIME
tmp: 1
tmp: 2
msg: It is Time
msg: It
msg: is
10

In [45]:
for i in range(len(msg)):
    print(msg[i], end=' ')
print()

I t   i s   T i m e

In [46]:
for x in msg:
    print(x, end=' ')
print()

I t   i s   T i m e

In [47]:
for x in msg:
    if x.isupper():
        print(x, end=' ')
print()

I T

In [48]:
for x in msg:
    if x.islower():
        print(x, end=' ')
print()

t i s i m e

In [49]:
for x in msg:
    if x.isalpha():
        print(x, end=' ')
print()

I t i s T i m e

In [50]:
tmp='AZ'
for x in tmp:
    print(ord(x)) #ord 아스키넘버 출력

65
90

In [51]:
tmp='az'
for x in tmp:
    print(ord(x)) #ord 아스키넘버 출력

97
122

In [52]:
tmp=65
print(chr(tmp)) #chr 아스키문자에 대응되는 문자를 출력

A

## **8. 리스트와 내장함수**

In [53]:
import random as r #랜덤 import
a=[]
print(a)
b=list()
print(b)

[]
[]

In [54]:
a=[1, 2, 3, 4, 5]
print(a)
print(a[0])

[1, 2, 3, 4, 5]
1

In [55]:
b=list(range(1,11))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
c = a+ b
print(c)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
a.append(6) #원소뒤에 추가
print(a)

[1, 2, 3, 4, 5, 6]

In [58]:
a.insert(3,7) #원소사이에 추가
print(a)

[1, 2, 3, 7, 4, 5, 6]

In [59]:
a.pop() # 원소마지막 지워짐 & 위치 지정한 원소 삭제가능
print(a)

[1, 2, 3, 7, 4, 5]

In [60]:
a.pop(3)
print(a)

[1, 2, 3, 4, 5]

In [61]:
a.remove(4) #원소 값을 삭제
print(a)

[1, 2, 3, 5]

In [62]:
print(a.index(5))

3

In [88]:
del sum

In [89]:
a = list(range(1,11))
print(a)
print(sum(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55

In [65]:
print(max(a))
print(min(a)) #max min 인자값중 가장 큰,작은 값 출력
print(min(7,3,5))

10
1
3

In [66]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
r.shuffle(a)
print(a)

[10, 8, 2, 3, 4, 9, 5, 7, 1, 6]

In [68]:
a.sort(reverse=True)
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [69]:
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
a.clear()
print(a)

[]

In [71]:
a = [23,12,36,53,19]
print(a[:3])

[23, 12, 36]

In [72]:
print(a[1:4])

[12, 36, 53]

In [73]:
print(len(a))

5

In [74]:
for i in range(len(a)):
    print(a[i], end=' ')
print()

23 12 36 53 19

In [75]:
for x in a:
    print(x, end= ' ')
print()

23 12 36 53 19

In [76]:
for x in a:
    if x%2 ==1:
        print(x, end= ' ')
print()

23 53 19

In [77]:
for x in enumerate(a):  #enumerate 값의 인덱스 값과 함께 출력
    print(x)

(0, 23)
(1, 12)
(2, 36)
(3, 53)
(4, 19)

In [78]:
b=[1,2,3,4,5] 
print(b[0])
b[0]=7
print(b[0])

1
7

In [79]:
b=(1,2,3,4,5) #tuple 값 변경이 불가능
print(b[0])
#b[0]=7
#print(b[0])

1

In [80]:
for x in enumerate(a):
    print(x[0], x[1])
print()

0 23
1 12
2 36
3 53
4 19

In [81]:
for index, value in enumerate(a):
    print(index, value)
print()

0 23
1 12
2 36
3 53
4 19

In [82]:
if all(60>x for x in a):
    print("Yes")
else:
    print("NO")

Yes

In [83]:
if all(50>x for x in a):
    print("Yes")
else:
    print("NO")

NO

In [84]:
if any(15>x for x in a):
    print("Yes")
else:
    print("NO")

Yes

In [85]:
if any(11>x for x in a):
    print("Yes")
else:
    print("NO")

NO

## **9. 2차원 리스트 생성과 접근**

In [90]:
a=[0]*10
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [91]:
a=[0]*3
print(a)

[0, 0, 0]

In [92]:
a=[[0]*3 for _ in range(3)] # _ 변수없이 반복문 돎
print(a)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [93]:
a[0][1]=1
print(a)

[[0, 1, 0], [0, 0, 0], [0, 0, 0]]

In [94]:
a[1][1]=2
print(a)

[[0, 1, 0], [0, 2, 0], [0, 0, 0]]

In [95]:
for x in a:
    print(x)

[0, 1, 0]
[0, 2, 0]
[0, 0, 0]

In [96]:
for x in a:
    for y in x:
        print(y, end= ' ')
    print()

0 1 0
0 2 0
0 0 0

## **10. 함수 만들기**

In [97]:
def add(a,b):
    c=a+b
    print(c)

In [98]:
add(3,2)

5

In [99]:
add(5,7)

12

In [100]:
def add(a,b):
    c=a+b
    return c

In [101]:
print(add(3,2))

5

In [102]:
x=add(3,2)
print(x)

5

In [103]:
def add(a,b):
    c = a+b
    d = a-b
    return c, d

In [104]:
print(add(3,2))

(5, 1)

In [105]:
def isPrime(x):
    for i in range(2, x):
        if x%i==0:
            return False #return은 함수 종료 역할도 함께함
    return True

In [106]:
a=[12,13,7,9,19]
for y in a:
    if isPrime(y):
        print(y, end=' ')

13 7 19

## **11. 람다함수**

In [107]:
def plus_one(x):
    return x+1

print(plus_one(1))

2

In [108]:
plus_two = lambda x: x+2 #람다는 내장함수의 인자로 사용할 때 편리
print(plus_two(1))

3

In [109]:
a=[1,2,3]
print(list(map(plus_one, a)))
print(list(map(lambda x: x+1, a)))

[2, 3, 4]
[2, 3, 4]